/* Typical Device Breakpoints 
 -----------------------------
 Pequenas Telas: até 600px
 Celular: de 600px até 768px
 Tablet: de 769px até 992px
 Desktop: de 993px até 1200px
 TV: acima de 1200px
*/

@media screen and (min-width:769px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    section{
        float: left;
        width: 750px;
        height: 300px;
    }

    #formulario{
        float: right;
        width: 70%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    .inputs-2{
        margin-bottom: 20px;
    }

    .inputs{
        position: relative;
        left: 1%;
        width: 500px;
        height: 39px;
    }

    .input{
        left: 9.8%;
        width: 446px;
        height: 35px;
        border-radius: 10px;
    }

    .material-icons{
        padding-left: 9px;
    }

    .entrar, .esqueci{
        position: relative;
        left: 1%;
        width: 499px;
    }

    .entrar{
        margin-top: 3px;
    }

    #esqueci{
        left: 288px;
    }
    }

@media screen and (min-width:993px){
    body{
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    section{
        width: 950px;
        height: 329px;
    }

    #formulario{
        float: left;
        width: 50%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    #formulario h1{
        font-size: 2em;
    }

    #formulario p{
        font-size: 1em;
        margin-bottom: 15px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    .inputs-2{
        margin-bottom: 20px;
    }

    .inputs{
        position: relative;
        left: 1%;
        width: 444px;
        height: 39.4px;
    }

    .input{
        left: 9.8%;
        width: 395px;
        height: 35px;
        border-radius: 10px;
    }

    .material-icons{
        top: 1%;
        left: 1%;
        padding-left: 3px;
    }

    .entrar, .esqueci{
        width: 444px;
    }

    .entrar{
        margin-top: 14px;
    }

    #esqueci{
        left: 270px;
    }
}