@charset "UTF-8";

/* Typical Device Breakpoints 
 -----------------------------
 Pequenas Telas: até 600px
 Celular: de 600px até 768px
 Tablet: de 769px até 992px
 Desktop: de 993px até 1200px
 TV: acima de 1200px
*/

@media screen and (min-width:769px) and (max-width:992px) {
   section{
    display: block;
    width: 617px;
    height: 274px;
   }

   #formulario{
    float: right;
    width: 70%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
   }

   #imagem{
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
   }

   .inputs{
    width: 406px;
    height: 39px;
   }

   .input{
    left: 10%;
    width: 361px;
    height: 35px;
    border-radius: 10px;
   }

   .material-icons{
    padding: 3px;
   }
}