@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

body,html{
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}

section{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 275px;
    height: 540px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem{
    border-radius: 15px 15px 0px 0px;
    height: 40%;
    background-image: url(../imagens/background-tela-login.jpg);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
}

#formulario{
    background-color: white;
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    height: 60%;
}

#formulario h1{
    font-size: 1.5em;
    text-align: center;
    padding: 6px;
}

.texto{
    margin-bottom: 10px;
}

#formulario p{
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.material-icons{
    position: absolute;
    font-size: 1.8em;
    color: white;
    width: 40px;
    padding: 6px;
}

.inputs{
    position: relative;
    left: 1%;
    background-color: #5f2c82;
    width: 248px;
    height: 44px; 
    margin-bottom: 5px;
    margin-left: 10px;
    border: 2px solid #5f2c82;
    border-radius: 10px;
}

.input{
    position: absolute;
    left: 18%;
    font-size: 1.1em;
    background-color: #94cfcd;
    border: 1px solid #5f2c82;
    border-radius: 10px;
    width: 200px;
    height: 40px; 
    padding: 10px;
    text-align: left;
}

input:focus{
    background-color: white;
    outline: 0;
}

.entrar{
    position: relative;
    left: 1%;
    font-size: 1em;
    width: 248px;
    height: 40px;
    margin-top: 8px;
    color: white;
    background-color: #53aaa7;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 6px;
    cursor: pointer;
}

.entrar:hover{
    background-color: #2d6462;
}

.esqueci{
    position: relative;
    left: 1%;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 248px;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #2d6462c2;
    border-radius: 5px;
    cursor: pointer;
}

.esqueci:hover{
    color: white;
    background-color: #2d646279;
}

#esqueci{
    font-size: 1em;
    position: absolute;
    color: #2d6462;
    left: 163px;
    top: 6px;
}

:-webkit-border-radius{
    border-radius: 6px;
}